:root{
    --primary-color:#6366f1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-grey:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
   
   
}
/* .head-container{
    border: 1px solid black;
} */
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.6rem;
}
.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width:823px){
    .nav{
        display: flex;
    }
    
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition:color 0.1s
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
  display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.contact-button:hover{
    background-color: #5254f8;
}
@media screen and (min-width:823px){
    .contact-button{
        display: block;
    }
}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
   background-color: var(--background-color);
    padding: 0.5rem 1.1rem;
}
@media screen and (max-width:823px){
    .menu-button{
        display: block;
    }
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}
.content-left{
    display: flex;
    flex-direction: column;
    text-align: center;
    animation:slideFromleft 1s ease forwards;
    opacity: 0;
}


.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);

}
.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.section-decs{
    color: var(--gray);
    font-size: 1.13rem;

}
.button-group{
    display: flex;
   align-items: center;
   justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}
.start-button,.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container1{
    border: none;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}
.section-image{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:823px){
   .main-section{
    flex-direction: row;
   }
   .content-left{
    max-width: 50%;
    text-align: left;
   }
   .section-title{
    padding-left: 0;
   }
   .button-group{
    justify-content: start;
    padding-left: 0;
   }.section-label{
    font-size: 0.8rem;
   }
   .section-title{
    font-size: 3.8rem;
   }
   .image-container{
    height: 67vh;
   }
   .section-decs{
    font-size: 1rem;
    color: var(--light-grey);
    width: 78%;
   }
}
.company-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    animation:slideFromleft 1s ease forwards;
    
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-grey);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.81rem 2.5rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}
.svg-logo{
    height: 1.6rem;
}
.logo-txt{
    font-size: 1rem;
}

@keyframes slideFromleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@media screen and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 2.7rem;
        font-weight: bold;
    }
}
.feature-container{
    background-color: var(--light-grey);
    padding: 1.5rem 0;
    text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
   
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-title{
    font-size: 2.2rem;
    font-weight:bold; 
}
.main-text{
    color: var(--gray);
    font-size: 1.1rem;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
   
    margin: 1.3rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 105, 211);
    padding:2rem ;
    border-radius: 0.5rem;
    gap: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.feature-title{
    color:var(--light-grey);
    font-weight: bold;
    font-size: 1.3rem;
}
.feature-decs{
    color: var(--light-grey);
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #ff6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b85d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
@media screen and (max-width:768px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}



